@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --primary-color: #20639b;
  --background-color:#f2f2f2;
  --text-color: #333;
  --reversed-text-color: #ffffff;

  --title-font: "Luckiest Guy";
  --body-font: "Open Sans";
}

body {
  margin: 0;
  font-family: var(--body-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  background: var(--background-color);
  color: var(--text-color);
}

.ml-auto {
  margin-left: auto;
}

.w-100 {
  width: 100%;
}
